﻿@model List<Tema1Curs4.Models.CustomDateTime>
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>


@foreach (var item in Model)
{
    <table>
        <tr>
            <td>
                <p>Data:@item.Data</p>
            </td>

            <td>
                <p>Day:@item.Day</p>
            </td>

            <td>
                <p>Hour:@item.Hour</p>
            </td>

        </tr>

    </table>
}

