﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
<div>
	<h3>This is from Layout</h3>
</div>
<div>
	@RenderBody()
</div>
</body>
</html>
