<div class="content">
    <h2 class="title">{{ list.name }}</h2>
    <ul>
        <li *ngFor="let element of list.listElements">
            <h5 class="title is-5">{{ element.title }}</h5>
            <p class="subtitle is-5">{{ element.body }}</p>
        </li>
    </ul>
</div>