<nav class="navbar is-dark">
  <div class="navbar-brand">
      <h1 class="navbar-item title is-5">Todo List Manager</h1>
  </div>
</nav>
<div class="columns">
  <div class="column is-one-fifth">
      <div class="menu">
          <p class="menu-label">Lists</p>
          <ul class="menu-list">
            <li
            *ngFor="let list of lists; let i = index"
            (click)="setClickedRow(i)"
            [class.active]="i == selectedRow"
            >
                  <a >{{list.name}}</a>
              </li>
              
          </ul>
      </div>
  </div>
  <div class="column">
      <div class="content" style="border:1px solid blue">
          <h2 class="title">Work</h2>
          <ul>
              <li>
                  <h5 class="title is-5">fill out TimeCenter</h5>
                  <p class="subtitle is-5">before 3.00 pm</p>
              </li>
              <li>
                  <h5 class="title is-5">meeting with Frank about the new project</h5>
                  <p class="subtitle is-5">2.00 pm, Skype meeting</p>
              </li>
          </ul>
      </div>
  </div>
</div>