


<section class="hero is-large">
  <div class="hero-body" >
    <div class="container has-text-centered">
      <div class="columns is-centered">
        <div class="column is-one-third">
          <div *ngIf="successShown" class="notification is-success">
            Login successful
          </div>
          <div *ngIf="errorShown" class="notification is-danger">
            Your login request failed :(
          </div>
          

          <div class="field">
              <div class="tabs">
                  <ul>
                    <li class="is-active" ><a routerLink="/login">Login</a></li>
                    <li><a routerLink = "/register">Register</a></li>
                    <li><a routerLink = "/recover">Recover</a></li>
                    
                  </ul>
                </div>
            <label class="label">Email</label>
            <div class="control">
              <input class="input" type="email" [(ngModel)]="email" placeholder="john.doe@email.com" name="email">
            </div>
          </div>
          <div class="field">
            <label class="label">Password</label> 
            <div class="control">
              <input class="input" type="password" [(ngModel)]="password" placeholder="Your password" name="password">
            </div>
          </div>
          <div class="control">
            <button class="button is-primary" (click)="onClick()">Login</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


