﻿@model List<DemoCurs4.Models.Building>

@{
	ViewData["Title"] = "Index";
}

<h1>Index</h1>

@foreach (var item in Model)
{
	<table>
		<tr>
			<td>
				@item.Id
			</td>
			<td>
				@item.Address
			</td>
		</tr>
	</table>
}