﻿@model List<Tema2Curs4.Models.Product>
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

@foreach (var item in Model)
{
    <table>
        <tr>
            <td>
                @item.Id
            </td>

            <td>
                @item.Name
            </td>

            <td>
                @item.Description
            </td>

        </tr>

    </table>
}

